* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

body {
    background: url("background-work-please.jpg") no-repeat fixed;

}

.white_bar {
    width:1200px;
    height:50px;
    position: fixed;
    margin-top: 30px;
    z-index: 9;
    background-color: #ffffff;
}

.wrapper {
    width: 1200px;
    height: 1000px;
    position: relative;
    margin: 0 auto;
}

.header {
    width: 1200px;
    height: 80px;
    position: fixed;
    Margin: 0 auto;
    z-index: 10;

}

.location_help {
    height: 50px;
}

.review {
    width: 550px;
    margin-top: 50px;
    background-color: white;
    float: left;
}

.specials {
    width: 700px;
    position: absolute;
    top: 150px;
    left: 550px;
    background-color: white;
    padding: 20px;
    text-align: center;
    opacity:.9;

}

.lunch {
    width: 600px;
    position: absolute;
    top: 400px;
    left: -50px;
    background-color: white;
    padding: 20px;
    text-align: center;
    opacity:.9;

}

h2.special {
    font-size: 45px;
    color: #bc1c2c;

}

h4.special {
    font-size: 28px;
    color: #525252;

}

p.special {
    color: #525252;
    font-size: 12px;
    line-height: 28px;
    margin-top: -5px;
}

.bio {
    width: 550px;
    background-color: #ffffff;
    float: right;
    padding: 20px;
    margin-right: 25px;
    margin-top: 50px;
    text-align: center;
    opacity: 1;
    font-size: 13px;
}

h3.bio_head {
    color: #bc1c2c;
}


.mpls_hours {
    width: 550px;
    background-color: #ffffff;
    float: right;
    padding: 10px;
    color: #000000;
    margin-right: 25px;
    margin-top: 25px;
    text-align: center;
    opacity: 1;

}

table.mpls_hours {
    width: 800px;
}

td.hours {
    width: 150px;
    text-align: right;
    padding: 0;
}

td.dates {
    width: 100px;
    text-align: right;
    padding: 0;
    color: #bc1c2c;
}

td.location {
    color: #525252;

}

.mendota_hours {
    width: 550px;
    background-color: #ffffff;
    float: right;
    padding: 10px;
    color: #000000;
    margin-top: 25px;
    margin-right: 25px;
    text-align: center;
    opacity: 1;
}

#logo {
    height: 130px;
    padding: 5px;
    background-color: #ffffff;
    float: right;
    position: absolute;
    z-index: 11;
}

.order {
    width: 275px;
    margin: 100px 45px;
    border-radius: 40px;

}

table.menu {
    width: 1200px;
    color: #525252;
}

td {
    width: 50%;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

p#nav_section_01, p#nav_section_02, p#nav_section_03, p#nav_section_04, p#nav_section_05 {
    display: inline;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    line-height: 112px;
    margin: 0 21px;
    z-index: 12;
}



a:link {
    text-decoration: none;
    color: #bc1c2c;
    padding: 20px 5px 10px 5px;
}

a:visited {
    text-decoration: none;
    color: #bc1c2c;
    padding: 20px 5px 10px 5px;
}

a#nav_section_01:visited, a#nav_section_02:visited, a#nav_section_03:visited, a#nav_section_04:visited, a#nav_section_05:visited {
    text-decoration: none;
    color: #bc1c2c;
    background-color: whitesmoke;
    padding: 20px 5px 10px 5px;
}

a#nav_section_01:hover, a#nav_section_02:hover, a#nav_section_03:hover, a#nav_section_04:hover, a#nav_section_05:hover {
    text-decoration: none;
    color: #525252;
    background-color: whitesmoke;
    padding: 20px 5px 10px 5px;
}

a:hover {
    text-decoration: none;
    color: #525252;
    padding: 20px 5px 10px 5px;
}

a:active {
    text-decoration: none;
    color: whitesmoke;
    padding: 20px 5px 10px 5px;
}

#home, #location, #menu, #order_online, #about {
    width: 1200px;
    color: #000000;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 25px;
    position: relative;

}



#about, #home {
    height: 800px;
}

.collapsible {
    background-color: #ffffff;
    color: #525252;
    padding: 18px;
    width: 700px;
    border: none;
    text-align: left;
    margin-top: 20px;
    margin-left: 200px;
    font-size: 24px;
    font-family: sans-serif;
    border-radius: 15px;
    opacity: 1;
}

.content {
    padding: 25px 18px;
    display: none;
    overflow: hidden;
    width: 700px;
    margin-top: -10px;
    margin-left: 200px;
    background-color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 0 0 15px 15px;
}

.active, .collapsible:hover {
    background-color: #ffffff;
    opacity: 1;
    color: #bc1c2c;
    font-weight: bold;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 18px;
    color: white;
    float: right;
    margin-left: 5px;
    opacity: 1;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #ffffff;
    opacity: 1;

}

button:focus {
    outline: 0;
}